<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Applinic</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
       
        <!--<link rel="stylesheet" href="/assets/css/bootstrap.css">-->
        <link rel="stylesheet" href="/assets/css/vendor.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/now-ui-kit2.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
         <noscript>
          <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/assets/show-error.html">
      </noscript>
          
        <link rel="stylesheet" href="/assets/css/my-edit.css">
          <style>
              .title{
                  font-weight: 300;
              }

              body {
                background-color: #f0f3f6;
              }

              .mobile-item-display {
                    display: none;
               }


               @media screen and (max-width: 720px) {
                 

                  .no-mobile-item-display {
                    display: none;
                  }

                .table td, .table th{
                   border: none!important;
                }


                 .mobile-item-display {
                    display: block;
                  }
              }
          </style>
          <script src="/assets/js/vendor2.js"></script>
          <script type="text/javascript" src="/assets/js/source.js"></script>
    </head>

    <body ng-app="myApp">
        <header id="header" class="container-fluid card">
            <div class="container" style="position: relative;">               
                <div class="p-2">
                    <a class="brand" href="/" style="text-decoration: none;color: red">
                        <div class=""> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div> <b>Applinic</b> 
                    </a>
                    <a href="/user/logout" style="float: right;" class="btn btn-simple">Log out</a>                
                </div>                          
                <!--<a class="btn btn-simple text-danger btn-sm"  href="" ng-click="logout()" style="position: absolute;top: 15px;right: 0">
                    <span><i class="fa fa-power-off icon"></i>
                        Logout
                    </span> 
                </a>-->
            </div>
        </header>
        <div class="container pt-1">
            <h5>Agent <%= agent.firstname %>!</h5>
        </div>
        <main class="container" ng-controller="filedAgentController" ng-cloak>
             <% for (var i = agent.couriers.length-1; i >= 0; i--) { %>
            <div class="p-2 card card-center-1" id="<%= agent.couriers[i]._id %>">        
                <span style="float: right;padding: 10px 20px"  class="text-muted" am-time-ago="'<%= agent.couriers[i].delivery_start_date %>'"></span>
                <section>
                    <h6 style="padding: 10px 0">Patient details</h6>
                    <img src='<%= agent.couriers[i].profile_pic_url %>' style="max-width:180px;height: auto">
                    <div class="pt-1"><strong><i class="fa fa-user"></i> </strong> <b><%= agent.couriers[i].title %>  <%= agent.couriers[i].firstname %> <%= agent.couriers[i].lastname %></b></div>
                    <div><strong><i class="fa fa-globe"></i>  </strong> <%= agent.couriers[i].address %>, <%= agent.couriers[i].city %></div>
                    <div><strong><i class="fa fa-clock-o"></i> </strong> {{<%= agent.couriers[i].date %> | date: 'fullDate'}} </div> 
                    <div><strong><i class="fa fa-phone"></i> </strong> <%= agent.couriers[i].phone1 %>, <%= agent.couriers[i].phone2 %></div>                  
                </section>
                <hr>
                <section class="no-mobile-item-display">
                    <h6 style="padding: 10px 0">Prescription details</h6>                      
                        <table class="table table-striped table-responsive">
                            <tr>
                                <thead>
                                    <th>S/N</th>
                                    <th>drug</th>
                                    <th>cost</th>
                                    <th>dosage</th>
                                    <th>frequency</th>
                                    <th>duration</th>                                   
                                </thead>                            
                            </tr>
                            <tr>
                                <% for(var j = 0; j < agent.couriers[i].prescription_body.length; j++) { %>
                                <tbody>                                   
                                    <td><%= agent.couriers[i].prescription_body[j].sn %></td>
                                    <td><%= agent.couriers[i].prescription_body[j].drug_name %></td>
                                    <td>{{('<%= agent.couriers[i].prescription_body[j].cost %>') ? <%= agent.couriers[i].prescription_body[j].cost %>:""}}</td>
                                    <td><%= agent.couriers[i].prescription_body[j].dosage %></td>
                                    <td><%= agent.couriers[i].prescription_body[j].frequency %></td>
                                    <td><%= agent.couriers[i].prescription_body[j].duration %></td>                                              
                                </tbody>
                                <% } %>
                        
                            </tr>
                        </table>
                    
                        
                </section>
                <section class="mobile-item-display">
                    <% for(var j = 0; j < agent.couriers[i].prescription_body.length; j++) { %>                            
                        <table class="table card">
                            <thead><th>sn: </th> <td><%= agent.couriers[i].prescription_body[j].sn %></td></thead>
                            <thead><th>Name: </th> <td><%= agent.couriers[i].prescription_body[j].drug_name %></td></thead>
                            <thead><th>Cost: </th> <td>{{('<%= agent.couriers[i].prescription_body[j].cost %>') ? <%= agent.couriers[i].prescription_body[j].cost %>:""}}</td></thead>
                            <thead><th>Doage: </th> <td><%= agent.couriers[i].prescription_body[j].dosage %></td></thead>
                            <thead><th>Frequency: </th> <td><%= agent.couriers[i].prescription_body[j].frequency %></td></thead>
                            <thead><th>Duration: </th> <td><%= agent.couriers[i].prescription_body[j].duration %></td></thead>                   
                        </table>
                    <% } %>
                </section>
                <div><strong>Total cost : </strong> <%= agent.couriers[i].total_cost %> </div><!-- {{toCurrency('<%= agent.couriers[i].total_cost %>')}}-->
                <br>
                <section>
                    <div>
                        <button class="btn btn-danger btn-lg" ng-click="attend('<%= agent.couriers[i].firstname %>','<%= agent.couriers[i].lastname %>','<%= agent.couriers[i]._id %>','<%= agent.couriers[i].center_id %>','<%= agent.couriers[i].user_id %>','<%= agent.couriers[i].total_cost %>','<%= agent._id %>')">Confirm Receipt</button>
                    </div> 
                </section>
           </div>

          
        <% } %>
        </main>
                    
        <!--<div class="container" ng-controller="filedAgentController" ng-cloak>
            <h4>
                welcome <%= agent.firstname %>
                
            </h4>
            <!--<div class="pb-1" style="width: 70%">
                 <input type="text" name="" class="form-control" placeholder="Filter by name, phone number, drug, address etc." ng-model="filterValue" style="font-size: 14px!important">                 
            </div>-->
            <!--<div class="row pt-1 pr-2">
                 <div class="col-sm-12 col-md-6 col-lg-6">
                     <a href="" ng-click="viewVerified()" style="text-transform: uppercase;" class="btn btn-simple" ng-if="!params.isCompleted">view verified requests</a>
                     <a href="" ng-click="pendingRequest()" style="text-transform: uppercase;" class="btn btn-warning" ng-if="params.isCompleted">view current requests</a>
                 </div>

                <div class="col-sm-12 col-md-6 col-lg-6 pt-1">
                 <strong style="float: right;"><span style="text-transform: uppercase;" class="text-danger">{{(params.isCompleted) ? "Verified Requests" : "Current Requests"}}</span> &nbsp;( {{courierList.length}}  patients )</strong>
                </div>               
            </div>-->

        <!--<div class="card row p-2" style="padding: 20px 0;position: relative;margin-top: 10px" ng-repeat="patient in courierList | filter: filterValue | orderBy : '-verification_date'" >
                    <strong style="float: right;color: grey;position: absolute;right: 15px;top:15px" am-time-ago="patient.verification_date"></strong>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h6 style="text-decoration: underline;padding: 10px 0">Patient details</h6>
                        <img src='{{patient.profile_pic_url}}' style="max-width:200px;max-height:200px">
                        <div><strong><i class="fa fa-user"></i> </strong> {{patient.title}} {{patient.firstname}} {{patient.lastname}}</div>
                        <div><strong><i class="fa fa-globe"></i>  </strong> {{patient.address}} ( {{patient.city}} )</div>
                        <div><strong><i class="fa fa-clock-o"></i> </strong> {{patient.date | date: 'fullDate'}}</div> 
                        <div><strong><i class="fa fa-phone"></i> </strong> {{patient.phone1}}, {{patient.phone2}}</div>                  
                    </div>
                    
                    <div class="col-sm-12 col-md-5 col-lg-5" >
                        <h6 style="text-decoration: underline;padding: 10px 0">Prescription details</h6>                       
                         
                            <table class="table table-striped table-responsive">
                                <tr>
                                    <thead>
                                        <th>S/N</th>
                                        <th>drug</th>
                                        <th>cost</th>
                                        <th>dosage</th>
                                        <th>frequency</th>
                                        <th>duration</th>                                   
                                    </thead>                            
                                </tr>
                                <tr>
                               
                                    <tbody ng-repeat="pres in patient.prescription_body">                                   
                                        <td>{{pres.sn }}</td>
                                        <td>{{pres.drug_name}}</td>
                                        <td>{{(pres.cost) ? toCurrency(pres.cost,patient):""}}</td>
                                        <td>{{pres.dosage}}</td>
                                        <td>{{pres.frequency}}</td>
                                        <td>{{pres.duration }}</td>                                              
                                    </tbody>
                            
                                </tr>
                            </table>
                        
                            <div><strong>Total cost : </strong> {{toCurrency(patient.total_cost,patient)}}</div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4" style="line-height: 30px">
                        <h6 style="text-decoration: underline;padding: 10px 0">Payment</h6>
                        <div ng-cloak ng-if="patient.receipt_date"><strong>Date received : </strong> {{patient.receipt_date | date: "fullDate"}} | {{patient.receipt_date | date: "mediumTime"}}</div>
                        <div style="text-align: center;">
                            <input type="text" ng-model="patient.otp" class="form-control" style="font-size: 14px!important" placeholder=" Enter OTP" ng-if="!patient.receipt_date">
                         <i class="fa fa-check" aria-hidden="true" style="font-size: 25px;padding: 0 10px;color:green" ng-if="patient.receipt_date"></i> <span style="" class="text-danger" ng-if="!patient.receipt_date">{{patient.message}}</span> <span style="color:green" ng-if="patient.receipt_date">{{patient.message}}</span></div> 
                        <div style="margin-top: 10px;text-align: center;">
                                <button class="btn btn-success btn-lg" ng-click="confirmPay(patient)" ng-hide="patient.receipt_date"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="patient.isLoading"></i> {{(patient.isLoading) ? "" : "Verify"}}</button>
                        </div>
                    </div>
                   </div>
                                                              
        </div>-->
       

        <div style="height: 200px">
            
        </div>
    

    <script type="text/ng-template" id="fieldAgentModal.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h6>{{courier.names}}</h6>
                 <button type="button" style="float:right;" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div> 
            <div class="modal-body">
                <div>
                    Amount: {{courier.totalCost}}  
                </div>
                <form style="line-height: 35px;width: 80%">
                    <div class="pt-1">
                        <label>Authenticate Order ID</label>
                    </div>
                    <div class="pt-1">
                        <input type="text" name="" placeholder="Enter order ID" class="form-control" ng-model="courier.order">
                    </div>
                    <p class="pt-1" ng-if="courier.status"><i class="fa fa-check text-primary" ng-if="courier.status"></i> {{courier.message}}</p>
                    <p class="pt-1 text-danger">{{message}}</p>
                    <div class="pt-1" ng-if="!courier.status">
                        <button class="btn-info btn" ng-click="verify(courier)"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff;" ng-if="loading"></i> {{(loading) ? "" : 'Confirm delivery'}} </button>
                    </div>
                </form> 
            </div>
            
          </div>
        </div>
      </div>
   </script>      



    <script src="/assets/js/app.js"></script>
        
        
    <script type="text/javascript" src="/assets/js/angularclient.js"></script>
    <script type="text/javascript" src="/assets/js/ngroute.js"></script>
    <script src="/socket.io/socket.io.js"></script>   
    <script src="/assets/js/socket.min.js"></script>
        
       
        
    <script src="/assets/js/angularAnimate.js"></script>
    <script src="/assets/js/modalService.js"></script>
    <script src="/assets/js/angular-touch.min.js"></script>
    <!--<script src="/assets/js/angular-carousel.js"></script>-->
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/angular-moment.min.js"></script>
    <script src="/assets/js/ui-bootstrap-tpls.js"></script>
    <script src="/assets/js/angular-clipboard.js"></script>
    <script src="/assets/js/ngresource.js"></script>
    <script src="/assets/js/ngPrint.js"></script>
    <script type="text/javascript" src="/assets/js/angular-paystack/dist/angular-paystack.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
    <script src="/assets/js/bower_components/angular-summernote/dist/angular-summernote.js"></script>
    </body>

</html>