<!DOCTYPE html>
<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <script src="/assets/js/vendor2.js"></script>
    <script type="text/javascript" src="/assets/js/source.js"></script>

    <style type="text/css">
        body {
            background-color: #999999; 
        }
       
    </style>

</head>

<body ng-app="myApp">

<div  ng-controller="labReportTempCtrl">

    <div id="tempField" style="position: relative;">

    <div style="margin:15px auto;width:620px;background-color: #fff" ><ul style="display: inline-block;list-style: none;padding-left: 10px"><li style="float: left;width: 100px;overflow: hidden;"> <img src="<%= 'https://applinic.com' + center_pic %>" style="max-height: 100px;width: 100px"></li><li style="font-family: Arial, serif;float: left;width: 480px;margin-left: 30px"><h4 style="margin-top: 0px"><%= center_name %></h4> <address style="margin-top: -15px;font-size: 12px;line-height: 20px"> <span><%= center_address %> <%= center_city %> <%= center_country %></span><br/> <span><%= center_email %></span><br/> <span><%= center_phone %></span><br/> <a href="www.applinic.com">www.applinic.com</a> </address></li></ul><div style="background: #4d8236; padding: 5px; margin-bottom: 5px;"> <span style="color:#fff;text-shadow: 1px 2px 3px #000">Patient: <%= lab_data[0].laboratory.patient_title %> <%= lab_data[0].laboratory.patient_firstname %> <%= lab_data[0].laboratory.patient_lastname %></span></div><ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 20px;"><li style="float: left; width: 180px;"> <b>Sex: </b></li><li style="float: left;width: 300px"> <span><%= lab_data[0].laboratory.patient_gender %></span></li><li style="clear: both;"></li><li style="float: left; width: 180px;"> <b>Age: </b></li><li style="float: left;width: 300px"> <span><%= lab_data[0].laboratory.patient_age %></span></li><li style="clear: both;"></li><li style="float: left; width: 180px;"> <b>Mobile: </b></li><li style="float: left;width: 300px"> <span><%= lab_data[0].laboratory.patient_phone %></span></li><li style="clear: both;"></li><li style="float: left; width: 180px;"> <b>Address: </b></li><li style="float: left;width: 300px;"> <span><%= lab_data[0].laboratory.patient_address %> <%= lab_data[0].laboratory.patient_city %></span></li><li style="clear: both;"></li><li style="float: left; width: 180px;"> <b>Reference Number: </b></li><li style="float: left;width: 300px"> <span><%= ref_id %></span></li></ul><div style="background: #4d8236; padding: 5px; margin-bottom: 5px;"> <span style="color:#fff;text-shadow: 1px 2px 3px #000">Report Details</span></div><ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 20px;"><li style="float: left; width: 180px;"> <b>Date Requested: </b></li><li style="float: left;width: 400px"> <span><%= moment(lab_data[0].date).format("dddd, MMMM Do YYYY, h:mm a")%></span></li><li style="clear: both;"></li><li style="float: left; width: 180px;"> <b>Indication: </b></li><li style="float: left;width: 300px"> <span><%= lab_data[0].laboratory.indication %></span></li><li style="clear: both;"></li><li style="float: left; width: 180px;"> <b>Summary: </b></li><li style="float: left;width: 300px"> <span><%= lab_data[0].laboratory.clinical_summary %></span></li><li style="clear: both;"></li><li style="float: left; width: 180px;"> <b>Report Date: </b></li><li style="float: left;width: 400px"> <span><%= moment(report_date).format("dddd, MMMM Do YYYY, h:mm a")%></span></li><li style="float: left; width: 180px;"> <b>Referring Physician: </b></li><li style="float: left;width: 400px;clear:both"> <span><%= lab_data[0].laboratory.title %> <%= lab_data[0].laboratory.doctor_firstname %> <%= lab_data[0].laboratory.doctor_lastname %>%></span></li><li style="float: left; width: 180px;"> <b>Test Ordered: </b></li><li style="float: left;width: 300px"> <% for(var i = 0; i < lab_data[0].laboratory.test_ran.length; i++) { %> <span>- <%= lab_data[0].laboratory.test_ran[i].name %></span><br> <% } %></li></ul> <% for(var j = 0; j < lab_data[0].laboratory.report.length; j++) { %><div style="background: #4d8236; padding: 5px; margin-bottom: 5px;"> <span style="color:#fff;text-shadow: 1px 2px 3px #000"><%= lab_data[0].laboratory.report[j].name %> Results</span></div> <% if(lab_data[0].laboratory.report[j].format == "range") { %><% for(var k = 0; k < lab_data[0].laboratory.report[j].report_sheet.length; k++) {%> <% if(lab_data[0].laboratory.report[j].report_sheet[k].r_result) { %><ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 15px;padding-top: 10px;padding-bottom: 10px"><li style="float: left; width: 180px;"><b <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %> > <%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></li><li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result %></span></li><li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_range %></span></li><li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_unit %></span></li><li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_flag %></span></li></ul> <% } %> <% } %> <% } %> <% if(lab_data[0].laboratory.report[j].format == "qualitative") { %> <% for(var k = 0; k < lab_data[0].laboratory.report[j].report_sheet.length; k++) {%><ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 15px;padding-top: 10px;padding-bottom: 10px"><li style="float: left; width: 180px;"><b><%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></li><li style="float: left; width: 250px;"><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result %></li><li style="float: left; width: 10px;">/<%= lab_data[0].laboratory.report[j].report_sheet[k].r_unit %></li></ul> <% } %> <% } %> <% if(lab_data[0].laboratory.report[j].format == "antigen") { %><table style="padding-top: 10px;padding-bottom: 10px;width: 600px;margin: 0 auto;"><thead style="text-align: left;padding: 10px 0;font-size: 10px"><th>&nbsp;</th><th>O. (Antigen)</th><th>H. (Antigen)</th></thead> <% for(var k = 0; k < lab_data[0].laboratory.report[j].report_sheet.length; k++) { %> <% if(lab_data[0].laboratory.report[j].report_sheet[k].r_result_O ) { %><tbody style="line-height: 25px;text-align: left; font-size: 10px"><td><b><%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></td><td><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result_O || lab_data[0].laboratory.report[j].report_sheet[k].r_result %></td><td><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result_H || lab_data[0].laboratory.report[j].report_sheet[k].r_result %></td></tbody> <% } %> <% if(!lab_data[0].laboratory.report[j].report_sheet[k].r_result_O ) { %><tbody style="line-height: 25px;text-align: left;font-size: 10px"><td><b><%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></td><td><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result_O || lab_data[0].laboratory.report[j].report_sheet[k].r_result %></td></tbody> <% } %> <% } %></table> <% } %> <% } %><hr style="background-color: #4d8236"><table><tr><td style="width: 480px;"><div style="padding: 10px 20px; margin-bottom: 5px;font-family: Arial, serif;line-height: 20px;font-size:12px"> <label style="font-style: italic;">Digitally signed</label><br> <span><b><%= lab_data[0].laboratory.signee.prefix %> <%= lab_data[0].laboratory.signee.name %></b> <small><%= lab_data[0].laboratory.signee.suffix %></small></span><br> <span><%= lab_data[0].laboratory.signee.designation %></span></div></td><td style="text-align: right;padding-right: 30px"> <img src="https://applinic.com/assets/images/img/applinic.png" style="width: 100px;height: auto;"></td></tr></table></div>

    </div>

    <div style="color: #fff;text-shadow: 1px 2px 3px #000;font-size: 18px;margin-bottom: 30px;margin-left: 25px">
        <button style="padding: 10px;background-color:green;color: #fff;border: none;border-radius: 5px" ng-click="createHtml()" ng-show="!loading && !isSent">Save &amp; Send</button>
        <span ng-show="loading">Processing... Please wait a second!</span>
        <span ng-show="isSent && !loading" style="color: yellow">Report saved and sent to patient successfully!</span>
    </div>





    <!--<div style="margin:30px auto;width:655px;border:1px solid #333;background-color: #fff"  >


        <ul style="display: inline-block;list-style: none;padding-left: 10px">
           

            <li style="float: left;width: 120px">
                <img src="<%= center_pic %>" style="max-height: 120px;width: auto;" >
            </li>

            <li style="font-family: Arial, serif;float: left;width: 480px">
                <h4 style="margin-top: 0px"><%= center_name %></h4>
                <address style="margin-top: -15px;font-size: 12px;line-height: 20px">
                    <span><%= center_address %> <%= center_city %> <%= center_country %></span><br/>
                    <span><%= center_email %></span><br/>
                    <span><%= center_phone %></span><br/>
                    <a href="www.applinic.com">www.applinic.com</a>
                </address>
            </li>
          
        </ul>

       
        <div style="background: #4d8236; padding: 5px; margin-bottom: 5px;">
         <span style="color:#fff;text-shadow: 1px 2px 3px #000">Patient: <%= lab_data[0].laboratory.patient_title %> <%= lab_data[0].laboratory.patient_firstname %> <%= lab_data[0].laboratory.patient_lastname %></span>
        </div>
         
        <ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 20px;">

            <li style="float: left; width: 180px;">
                 <b>Sex: </b>
            </li>

            <li style="float: left;width: 300px">
                <span><%= lab_data[0].laboratory.patient_gender %></span>
            </li>

            <li style="float: left; width: 180px;">
                 <b>Age: </b>
            </li>

            <li style="float: left;width: 300px">
                <span><%= lab_data[0].laboratory.patient_age %></span>
            </li>

             <li style="float: left; width: 180px;">
                 <b>Mobile: </b>
            </li>

            <li style="float: left;width: 300px">
                <span><%= lab_data[0].laboratory.patient_phone %></span>
            </li>

            <li style="float: left; width: 180px;">
                 <b>Address: </b>
            </li>
            <li style="float: left;width: 300px">
                <span><%= lab_data[0].laboratory.patient_address %> <%= lab_data[0].laboratory.patient_city %></span>
            </li>
            <li style="float: left; width: 180px;">
                 <b>Reference Number: </b>
            </li>
            <li style="float: left;width: 300px">
                <span><%= ref_id %></span>
            </li>
        </ul>   

        <div style="background: #4d8236; padding: 5px; margin-bottom: 5px;">
            <span style="color:#fff;text-shadow: 1px 2px 3px #000">Report Details</span>
        </div>
        <ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 20px;">
            <li style="float: left; width: 180px;">
                 <b>Date Requested: </b>
            </li>

            <li style="float: left;width: 400px">
                <span><%= moment.unix(lab_data[0].date).toDate()%></span>
            </li>
            <li style="float: left; width: 180px;">
                 <b>Indication: </b>
            </li>

            <li style="float: left;width: 300px">
                <span><%= lab_data[0].laboratory.indication %></span>
            </li>
            <li style="float: left; width: 180px;">
                 <b>Summary: </b>
            </li>

            <li style="float: left;width: 300px">
                <span><%= lab_data[0].laboratory.clinical_summary %></span>
            </li>
            <li style="float: left; width: 180px;">
                 <b>Report Date: </b>
            </li>

            <li style="float: left;width: 400px">
                <span><%= moment.unix(lab_data[0].report_date).toDate()%></span>
            </li>
            <li style="float: left; width: 180px;">
                 <b>Referring Physician: </b>
            </li>

            <li style="float: left;width: 400px">
                <span><%= lab_data[0].laboratory.title %> <%= lab_data[0].laboratory.doctor_firstname %> <%= lab_data[0].laboratory.doctor_lastname %>%></span>
            </li>

            <li style="float: left; width: 180px;">
                 <b>Test Ordered: </b>
            </li>
            <li style="float: left;width: 300px">
                <% for(var i = 0; i < lab_data[0].laboratory.test_ran.length; i++) { %>
                    <span>- <%= lab_data[0].laboratory.test_ran[i].name %></span><br>
                <% } %>
            </li>
        </ul>
        
        
        <% for(var j = 0; j < lab_data[0].laboratory.report.length; j++) { %>
            <div style="background: #4d8236; padding: 5px; margin-bottom: 5px;">
            <span style="color:#fff;text-shadow: 1px 2px 3px #000"><%= lab_data[0].laboratory.report[j].name %> Results</span></div>
                <% if(lab_data[0].laboratory.report[j].format == "range") { %>

                <% for(var k = 0; k < lab_data[0].laboratory.report[j].report_sheet.length; k++) {%>
                <% if(lab_data[0].laboratory.report[j].report_sheet[k].r_result) { %>
                <ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 15px;padding-top: 10px;padding-bottom: 10px">
                    <li style="float: left; width: 180px;"><b <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %> > <%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></li>
                    <li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result %></span></li>
                    <li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_range %></span></li>
                    <li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_unit %></span></li>
                    <li style="float: left; width: 100px;"><span <%= (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'Low') ? 'style=color:red' : (lab_data[0].laboratory.report[j].report_sheet[k].r_flag === 'High') ? 'style=color:red' : 'style=color:#000' %>><%= lab_data[0].laboratory.report[j].report_sheet[k].r_flag %></span></li>
                </ul>
                <% } %>
                <% } %>
                <% } %>
                <% if(lab_data[0].laboratory.report[j].format == "qualitative") { %>
                <% for(var k = 0; k < lab_data[0].laboratory.report[j].report_sheet.length; k++) {%>
                    <ul style="list-style: none;display: inline-block;font-size: 10px;line-height: 15px;padding-top: 10px;padding-bottom: 10px">
                        <li style="float: left; width: 180px;"><b><%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></li>
                        <li style="float: left; width: 250px;"><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result %></li>
                        <li style="float: left; width: 10px;">/<%= lab_data[0].laboratory.report[j].report_sheet[k].r_unit %></li>
                    </ul>
                <% } %>
                <% } %>
                <% if(lab_data[0].laboratory.report[j].format == "antigen") { %>
                    <table style="padding-top: 10px;padding-bottom: 10px;width: 600px;margin: 0 auto;">
                        <thead style="text-align: left;padding: 10px 0;font-size: 10px">                           
                            <th>&nbsp;</th>
                            <th>O. (Antigen)</th>                                           
                            <th>H. (Antigen)</th>                           
                        </thead>
                <% for(var k = 0; k < lab_data[0].laboratory.report[j].report_sheet.length; k++) { %>
                        <% if(lab_data[0].laboratory.report[j].report_sheet[k].r_result_O ) { %>
                            <tbody style="line-height: 25px;text-align: left; font-size: 10px">
                                <td><b><%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></td>
                                <td><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result_O || lab_data[0].laboratory.report[j].report_sheet[k].r_result %></td>
                                <td><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result_H || lab_data[0].laboratory.report[j].report_sheet[k].r_result %></td>
                            </tbody>
                        <% } %>
                        <% if(!lab_data[0].laboratory.report[j].report_sheet[k].r_result_O ) { %>
                            <tbody style="line-height: 25px;text-align: left;font-size: 10px">
                                <td><b><%= lab_data[0].laboratory.report[j].report_sheet[k].r_name %></b></td>
                                <td><%= lab_data[0].laboratory.report[j].report_sheet[k].r_result_O || lab_data[0].laboratory.report[j].report_sheet[k].r_result %></td>                               
                            </tbody>
                        <% } %>
                <% } %>
                    </table>                
            <% } %>
          
        <% } %>
        <hr style="background-color: #4d8236">
        <table>
            <tr>
                <td style="width: 480px;">
                    <div style="padding: 10px 20px; margin-bottom: 5px;font-family: Arial, serif;line-height: 20px;font-size:12px">
                        <label style="font-style: italic;">Digitally signed</label><br>
                        <span><b><%= lab_data[0].laboratory.signee.prefix %> <%= lab_data[0].laboratory.signee.name %></b> <small><%= lab_data[0].laboratory.signee.suffix %></span></small><br>
                        <span><%= lab_data[0].laboratory.signee.designation %></span>
                    </div>
                </td>
                <td style="text-align: right;">
                    <img src="https://applinic.com/assets/images/img/applinic.png" style="width: 100px;height: auto;">
                </td>
            </tr>
        </table> 
</div>-->

</div>



<script type="text/javascript" src="/assets/js/angularclient.js"></script>
<script type="text/javascript" src="/assets/js/ngroute.js"></script>
<script src="/socket.io/socket.io.js"></script>   
<script src="/assets/js/socket.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>

<!--<script src="/assets/js/main.js"></script>-->
<script src="/assets/js/angular-touch.min.js"></script>
<script src="/assets/js/angularAnimate.js"></script>

<script src="/assets/js/modalService.js"></script>
<script src="/assets/js/moment.min.js"></script>     
<script src="/assets/js/angular-moment.min.js"></script>
<script src="/assets/js/angucomplete-alt.min.js"></script> 

<script src="/assets/js/ui-bootstrap-tpls.js"></script>
<script src="/assets/js/angular-clipboard.js"></script>
<script src="/assets/js/ngresource.js"></script>
 <script src="/assets/js/ngPrint.js"></script>
 <script type="text/javascript" src="/assets/js/angular-paystack/dist/angular-paystack.js"></script>
  <script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
  <script src="/assets/js/bower_components/angular-summernote/dist/angular-summernote.js"></script>
  <script type="text/javascript" src="/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="/assets/js/angular-underscore.js"></script>
<script type="text/javascript" src="/assets/js/charts.js/dist/Chart.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-chart.js/dist/angular-chart.min.js"></script>

</body>

</html>
