<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Applinic</title>
        <meta name="description" content="">
        <meta content='width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
         <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
        <!-- Place favicon.ico in the root directory -->
        
        <!--<link rel="stylesheet" href="/assets/css/bootstrap.css">-->
        <link rel="stylesheet" href="/assets/css/vendor.css">
         <link rel="stylesheet" href="/assets/css/app.css">
          <link rel="stylesheet" href="/assets/css/now-ui-kit2.css">
          <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
          <link rel="stylesheet" href="/assets/css/chat.css">
          <link rel="stylesheet" href="/assets/css/my-edit.css">
          <link rel="stylesheet" href="/assets/css/ngPrint.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
             <noscript>
          <META HTTP-EQUIV="Refresh" CONTENT="0;URL=/assets/show-error.html">
      </noscript>

      <script type="text/javascript">
        var Opera = (navigator.userAgent.match(/Opera|OPR\//) ? true : false);
        if(Opera){
          window.location.href = "/assets/show-error.html";
        }
    </script>
             <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128083647-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-128083647-1');
        </script>

          <style>
              body {
                  font-family: 'Open Sans', sans-serif;
              }
              
              .title{
                  font-weight: 300;
              }
              .modal-backdrop {
                  position: relative!important;
              }

              .view-animate-container {
                  position:relative;  
                  background:white;  
                /*max-height:1000px;*/
                 background: transparent !important;
                   /*overflow-y: auto;
                  overflow-x: hidden;*/
                  width: 1000px;
                  margin-left: 50px

              }

               .mobile-item-display {
                  display: none;
                }

               @media screen and (max-width: 1024px) {
                    .text-center a {
                        margin-left: 20px;
                    }


                    .view-animate-container {
                   
                    background: transparent !important;
                   
                    width: auto;
                    margin-left: 0px

                  }

                  /*.brand {
                    display: none!important;
                  }*/

                  .header .header-block-nav .notifications a {
                    padding-right: 9px;
                  }

                 .header .header-block-nav>ul>li>a {
                    padding: 0 10px;
                    color: #4f5f6f;
                  }
                }

                @media screen and (max-width: 720px) {
                  .brand {
                    display: none!important;
                  }

                 .prf {
                    display: none!important;
                  }

                  .sarch {
                    display: none!important;
                  }

                   .table th, .table td{
                      border: none!important;
                    }

                   .no-mobile-item-display {
                    display: none;
                  }

                 .mobile-item-display {
                    display: block;
                  }

                  li {
                    border-right: none;
                  }
                }


          </style>

           <script src="/assets/js/vendor2.js"></script>
          <script type="text/javascript" src="/assets/js/source.js"></script>
    </head>

    <body ng-app="myApp">
                    <nav class="header" style="height:70px; margin-top:-.5em; z-index:1000;" ng-controller = "radioCenterNotificationController">
                            <a class="brand" href="/" style="margin-left:3em;display: block;text-decoration: none">
                                <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div> Applinic </a>
                    <div class="header-block header-block-collapse hidden-lg-up"> <button class="collapse-btn" id="sidebar-collapse-btn">
                <i class="fa fa-bars"></i>
            </button>
                         </div>
                             <div class="header-block header-block-search hidden-sm-down">
                        
                        <!--<form role="search">
                            <div class="input-container"> <i class="fa fa-search"></i> <input type="search" placeholder="Search">
                                <div class="underline"></div>
                            </div>
                        </form>-->
                    </div>
                   
                    <div class="header-block header-block-nav" ng-controller = "createRoomController">
                        <ul class="nav-profile" ng-controller="topHeaderController">
                            <li class="notifications new"> <a href="" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <sup>
                      <span class="counter" ng-if="noteLen > 0 " ng-cloak>{{noteLen}}</span>
                    </sup>
                    </a>
                                <div class="dropdown-menu notifications-dropdown-menu menuOne" style="max-height: 400px;overflow-y: auto;">
                                    <ul class="notifications-container noti-style">
                                        <li> <h6 style="text-align: center">Notification(s)</h6> </li>
                                         <!--<li style="padding: 10px;text-align: right;"><a href="" style="font-size: 14px;text-decoration: underline;" class="text-danger" ng-click = "addAllNote()">Add to work list </a></li>-->
                                        <li ng-repeat = "note in allNote">
                                            <a href="" class="notification-item" ng-click="viewNote(note.ref_id,null,null,note)">
                                                <div class="img-col">
                                                    <div class="img" style="background-image: url({{note.sender_profile_pic_url}})"></div>
                                                </div>
                                                <div class="body-col">
                                                    <p> <span class="accent">{{note.sender_title || note.title}} {{note.sender_firstname}}</span> <span style="display: block">{{note.message}}</span> <small class="accent" style="display: block" am-time-ago="note.sent_date">&nbsp;&nbsp;<small ng-if="!note.viewed" class="text-danger">New</small></small> </p>
                                                </div>
                                            </a>
                                        </li>                                        
                                    </ul>
                                    <footer>
                                        <ul>
                                            <li> <a href="">
                           
                                        </a> </li>
                                        </ul>
                                    </footer>
                                </div>
                            </li>

                            <li class="notifications new"> <a href="" data-toggle="dropdown" title="Drug delivery services">
                    <i class="fa fa-motorcycle"></i>
                    <sup>
                      <span class="counter" ng-if="courierResponseList.length > 0" ng-cloak>{{courierResponseList.length}}</span>
                    </sup>
                  </a>
                                <div class="dropdown-menu notifications-dropdown-menu menuTwo" style="max-height: 400px;overflow-y: auto;" ng-controller = "createRoomController">
                                    <ul class="notifications-container noti-style">
                                        <li> <h5 style="text-align: center">Courier Notifications</h5> </li>
                                        <li ng-repeat = "j in courierResponseList | orderBy : '-date'" class="msg-drp-list" style="position: relative;" ng-click= "viewResponse(j)">
                                            <a href="" class="notification-item">
                                                <div class="body-col">
                                                    <p> <span class="accent" ng-cloak>Courier Request {{j.request_id}}</span>
                                                        <span style="display:block"></span>
                                                        <span>{{j.date | date: 'fullDate'}} (<span am-time-ago="j.date"></span>)</span>
                                                       
                                                    </p>
                                                </div>
                                                                                      
                                            </a>                                            
                                              <span style="position: absolute;top: 3px;right: 5px;font-size: 12px" ng-class="{'text-danger': !j.attended,'text-info':j.attended,'text-success':j.completed,'text-warning':j.is_paid}">{{(!j.verified || !j.attended) ? 'Pending' : (!j.is_paid && j.attended) ? 'Ready': (j.is_paid && !j.completed) ? 'On Delivery' : (j.completed) ? "Received" : ""}}</span>
                                            <!--<a href="" class="notification-item">
                                                <div class="img-col">
                                                    <div class="img" style="background-image: url({{app.profilePic}})"></div>
                                                </div>
                                                <div class="body-col">
                                                    <p> <span class="accent" ng-cloak>{{app.title}} {{app.firstname}} {{app.lastname}}</span>
                                                        <span style="display:block">Hi, you have an appointment with me.</span>
                                                        <span>{{app.date | date: 'fullDate'}} (<b am-time-ago="app.date"></b>)</span>
                                                    </p>
                                                </div>
                                            </a>-->

                                        </li>                                        
                                    </ul>
                                    <footer>
                                        <ul>
                                            <li> <a href="">
                            <!--View All-->
                          </a> </li>
                                        </ul>
                                    </footer>
                                </div>
                            </li>                                         


                              <li class="notifications new"> <a href="" ng-click = "loadChats()" data-toggle="dropdown" ng-controller="presenceSocketController">
                              <i class="fa fa-comment" ></i>
                              <sup>
                                <span class="counter btn-danger" ng-if="showIndicator !== false" style="border-radius: 10px;width: 8px;height: 8px;display: inline-block;"  ng-cloak></span>
                              </sup>
                            </a>
                                <div class="dropdown-menu notifications-dropdown-menu menuThree" style="max-height: 400px;overflow-y: auto;">
                                    <ul class="notifications-container noti-style">
                                        <li> <h6 style="text-align: center">Chats</h6> </li>
                                        <li ng-repeat = "chat in chatsList | orderBy : '-realTime'" ng-click= "viewChat(chat.partnerId)" style="height: 80px;overflow:hidden">
                                            <a href="" class="notification-item">
                                                <div class="img-col">
                                                    <div class="img" style="background-image: url({{chat.profilePic}})"></div>
                                                </div>
                                                <div class="body-col">                                                
                                                    <p style=""> <span class="accent" ng-cloak>{{chat.name}}</span>
                                                        <span style="display:block" class="ellipsis">{{chat.messages[chat.messages.length - 1].received || chat.messages[chat.messages.length - 1].sent}} <small style="display:block" am-time-ago="chat.messages[chat.messages.length - 1].time" ng-cloak></small></span> 
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li ng-if="loading" style="text-align: center;height: 120px;padding-top: 50px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="loading"></i></li>                                       
                                    </ul>
                                    <footer>
                                        <ul>
                                            <li> <a href="">
                            <!--View All -->
                             </a> </li>
                                        </ul>
                                    </footer>
                                </div>
                            </li>    


                            <li class="profile dropdown">
                                            <a class="nav-link dropdown-toggle prf" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                                                <div class="img" style="background-image: url(<%= userInfo.profile_pic_url %>)"> </div> 
                                                <span class="name">
                                  <%= userInfo.firstname %> <%= userInfo.name %>
                                </span> </a>
                                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1"> <a class="dropdown-item" href="#/edit-picture">
                                  <i class="fa fa-user icon"></i>
                                  Change Profile Picture
                                </a> <a class="dropdown-item" href="">
                                  <i class="fa fa-user icon"></i>
                                  <%= userInfo.user_id %>
                                </a> 
                                <a class="dropdown-item" href="#/bank-details">
                                  <i class="fa fa-money icon"></i>
                                  Bank Details
                                </a>
                                <a class="dropdown-item" href="#/radiology-edit-profile">
                                  <i class="fa fa-gear icon"></i>
                                  Edit Profile
                                </a>
                                                <div class="dropdown-divider"></div> <a  href="" class="dropdown-item" ng-click="logout()">
                                  <i class="fa fa-power-off icon"></i>
                                  Logout
                                </a> </div>
                            </li>

                             <li class="dropdown sarch">
                                <a href="" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                                    <i class="fa fa-search text-warning" aria-hidden="true"></i> Searches
                                </a>
                                <div class="okd dropdown-menu dropdown-menu-right" style="line-height: 35px" aria-labelledby="navbarDropdownMenuLink">
                                   <a class="dropdown-item" href="#/find-specialist"><i class="fa fa-search text-warning" aria-hidden="true"></i> Doctor</a>
                                    <a class="dropdown-item" href="#/special-center"><i class="fa fa-search text-warning" aria-hidden="true"></i> Special Center</a>
                                    <a class="dropdown-item" href="#/pharmacy-in"><i class="fa fa-search text-warning" aria-hidden="true"></i> Pharmaceutical Center</a>
                                     <a class="dropdown-item" href="#/laboratory-in"><i class="fa fa-search text-warning" aria-hidden="true"></i> Laboratory Center</a>
                                      <a class="dropdown-item" href="#/radiology-in"><i class="fa fa-search text-warning" aria-hidden="true"></i> Radiology Center</a>
                                    <a class="dropdown-item" href="#/drug"><i class="fa fa-search text-warning" aria-hidden="true"></i> Drug</a>
                                    <a class="dropdown-item" href="#/scan-search"><i class="fa fa-search text-warning" aria-hidden="true"></i> Radiology Test</a>
                                    <a class="dropdown-item" href="#/search-test"><i class="fa fa-search text-warning" aria-hidden="true"></i> Laboratory Test</a>
                                    <a class="dropdown-item" href="#/procedure"><i class="fa fa-search text-warning" aria-hidden="true"></i> Skills &amp; Procedures</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="clearfix"></div>
        <div class="main-wrapper">
             <div class="clearfix"></div>
              <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md" style="margin:-9px 0;">
       
    </nav>
    <!-- End Navbar -->
     <div class="clearfix"></div>
            <div class="app" id="app">
                <header class="container text-center" style="background:#fff; border-left:1px solid #f2f2f2; line-height:70px; padding:5px;" ng-controller="radioCenterDashboardController">
                    <div class="col-md-10  col-lg-10">
                       <ul class="nav nav-tabs" role="tablist">  
                            <!--<li class="nav-item">
                            <a class="btn btn-simple round mr-1"  href="#/help" ><i class="fa fa-question-circle"></i>
                                        <span style="color:red">Need help</span></a>
                          </li>-->
                           <li class="nav-item">
                              <a class="btn btn-simple round mr-1" href="#/invite"><i class="fa fa-user-plus"></i>
                                    <span style="color:red">Invite Someone</span></a>
                          </li>  
                          <li class="nav-item">
                            <a class="btn btn-simple round mr-1"  href="#/referral/radiology-test"><i class="fa fa-user"></i>
                                        <span style="color:red">Find Investigation Request</span></a>
                          </li>
                          <!--<li class="nav-item">
                            <a class="btn btn-simple round mr-1"  href="" ng-click="newPatient()"><i class="fa fa-user-plus"></i>
                                <span style="color:red">Add Patient</span></a>
                          </li>-->
                          <li class="nav-item">
                            <a class="btn btn-simple round mr-1"  href="#/dicom-services"><i class="fa fa-file-text"></i>
                                <span style="color:red">Create Study</span></a>
                          </li>

                          <li class="nav-item">                     
                            
                             <a class="btn btn-simple round mr-1"  href="#/rendered-services"><i class="fa fa-file-text"></i>
                                <span style="color:red">Work History</span></a>
                          </li>

                            <li class="nav-item">                     
                            
                             <a class="btn btn-simple round mr-0"  href="#/import"><i class="fa fa-link"></i>
                                <span style="color:red">Link Dicom Studies</span></a>
                          </li>
                          
                        </ul>
                    </div>

         


                    <div class="col-md-2 col-lg-2 col-sm-12" ng-controller="balanceController">  
                        <a href="#/transactions" class="btn btn-info btn-sm header-btn">
                            <i class="fa fa-money"></i>
                            <span ng-cloak>{{balance}} </span>
                        </a>  
                    </div>
                </header>

                 <div class="custom-alert-box" ng-class="{'toogle-custom-alert': alert === true}"  ng-cloak>
                  <span>{{message}}</span>
                </div>

                     <div class="clearfix"></div>

                <aside class="sidebar" style="top:.4em;"  ng-controller="checkingOutPatientController">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                           <!-- <div class="brand">
                                <div class="logo">  Applinic </div>-->
                        </div>
                        <nav class="menu">
                            <ul class="nav metismenu" id="sidebar-menu">

                                 <li class="no-show"> <a href="">
                        
                                    <div class="img" style="background-image: url()"> </div> 
                                    <span class="name">
                      <%= userInfo.firstname %> <%= userInfo.name %>
                    </span>
                            <i class="fa arrow"></i>
                        </a>
                                    <ul>
                                  
                                         <li> <a href="#/edit-picture" class="h"> <i class="fa fa-user icon"></i> Change Profile Picture</a> </li>

                                  <li><a href=""> <i class="fa fa-user icon"></i> </a> </li>

                                  <li>
                                     <a href="#/radiology-edit-profile" class="h"><i class="fa fa-gear icon"></i> Edit profile</a> </li>
                                  <li><a href="#/bank-details" class="h">
                                  <i class="fa fa-money icon"></i>
                                  Bank Details
                                </a></li>

 <li><a  href="/user/logout" ng-click="logout()"><i class="fa fa-power-off icon"></i> Logout </a>
                             </li>
                                    </ul>
                                </li>

                                 <li class="no-show"> <a href="">
                            <i class="fa fa-search text-warning" aria-hidden="true"></i> Searches
                            <i class="fa arrow"></i>
                        </a>
                                    <ul>
                                        <li> <a href="#/find-specialist" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Doctor</a>
                                </a> </li>

                                <li>
                                   <a href="#/special-center" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Special Center</a>
                                </li>

                                 <li> <a href="#/pharmacy-in" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Pharmaceutical Center</a>
                                </a> </li>

                                 <li> <a href="#/laboratory-in" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Laboratory Center</a>
                                </a> </li>

                                 <li> <a href="#/radiology-in" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Radiology Center</a>
                                </a> </li>

                                 <li> <a href="#/drug" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Drug
                                </a> </li>

                                 <li> <a href="#/scan-search" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Radiology Test
                                </a> </li>

                                <li><a href="#/search-test" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Laboratory Test
                                </a> </li>
                                       

                                <li><a href="#/procedure" class="h"><i class="fa fa-search text-warning" aria-hidden="true"></i> Skills &amp; Procedure
                                </a> </li>
                                    </ul>
                                </li>                      

                                
                                <li class="active"> <a href="#/welcome" class="h">
                            <i class="fa fa-home"></i>Radiology Dashboard
                        </a> </li>

                        <!--<li> 
                            <a href="">
                                <i class="fa fa-users"></i>Work list
                                <i class="fa arrow"></i>
                            </a>
                            <ul  style="max-height: 600px;overflow-y:auto">
                                <li style="text-align:center"><input type="text" ng-model="person.radiology.patient_lastname" placeholder="Name, Date or Ref No" style="border:none;width:80%;padding:15px"></li>
                                <li ng-repeat="person in attendanceList | filter: person.radiology.patient_lastname || person.radiology.patient_firstname || person.radiology.date || person.radiology.ref_id">
                                   
                                    <a href="" ng-click="viewNote(person.ref_id,'list',person.newPatient,person)">     
                                    
                                        <img class="img" src="{{person.radiology.patient_profile_pic_url}}" style="width:32px;height:32px;display: inline-block;">
                                        <span style="padding-left: 10px;font-size:12px;display: inline-block;" class="ellipsis">{{person.radiology.patient_firstname}}   {{person.radiology.patient_lastname}} </span>                                                        
                                        
                                    </a> 
                                </li>
                            </ul>
                        </li>-->
                                                    
                        <li> 
                            <a href="">
                                <i class="fa fa-bar-chart"></i>Services
                                <i class="fa arrow"></i>
                            </a>
                            <ul>
                                <li> 
                                    <a href="#/radio/test-service/update" class="h">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Update investigations
                                    </a> 
                                </li>
                                 <li> 
                                    <a href="#/add-service" class="h">
                                        <i class="fa fa-plus" ></i> &nbsp;Add investigation
                                    </a> 
                                </li>
                            </ul>
                        </li>

                        <li> 
                            <a href="">
                                <i class="fa fa-money"></i> Payment &amp; Wallet
                                <i class="fa arrow"></i>
                            </a>
                            <ul>
                                <li> 
                                    <a href="#/wallet">
                                        Fund Wallet
                                    </a> 
                                </li>

                                <li> 
                                    <a href="#/transfer" class="h">
                                    Transfer Funds
                                    </a> 
                                </li>

                                 <li> 
                                    <a href="#/cash-out" class="h">
                                    Cash Out
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#/transactions" class="h">
                                    View Transactions
                                    </a> 
                                </li>                                       
                            </ul>
                        </li>
                        <li>
                          
                          <a  href="#/rendered-services" class=""><i class="fa fa-file-text"></i> Work History</a>
                         
                        </li>
                         <!--<li>
                          
                          <a  href="#/work-list" class=""><i class="fa fa-file-text"></i> Work List</a>
                         
                        </li>-->
                        <li>
                          
                          <a  href="#/import" class=""><i class="fa fa-link"></i> Link Dicom Studies</a>
                         
                        </li>
                         <li> 
                                    <a href="">
                            <i class="fa fa-question-circle"></i> Help &amp; Support
                            <i class="fa arrow"></i>
                                    </a>
                                    <ul>
                                        <li> <a href="#/faq" class="h">
                                    FAQ
                                </a> </li>

                                 <li> <a href="#/announcement" class="h">
                                    Announcement
                                </a> </li>

                                 <li> <a href="#/help" class="h">
                                    Need help
                                </a> </li>                                
                                       
                                    </ul>
                                </li>                                
                    </ul>
                     <div style="position: absolute;bottom: 0;left: 20px">
                        <a href="#/welcome" class="text-white"><i class="fa fa-info-circle"></i> Getting Started</a><br><br>
                       
                       
                        <a href="" ng-click="logout()" class="text-white"> <i class="fa fa-sign-out"></i> Log Out</a>
                      </div>
                </nav>
            </div>
         </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
      <div class="col-md-12">
<!-- Nav tabs -->


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel">
      <div class="container">
    <div class="row">
        
         <div> 
         <div ng-show='stateIsLoading' style="text-align: center;padding-top: 10px;">
              <span class="btn btn-warning btn-sm">Loading...</span>
            </div>  
            <div ng-show='!onlineStatus' style="text-align: center;padding-top: 10px;" ng-cloak>
              <span class="btn btn-warning btn-sm text-white font-1_2">No internet connections
              </span>
            </div>
            <div ng-show='onlineStatus && !acknowledged && !stateIsLoading' style="text-align: center;padding-top: 10px;" ng-cloak>
              <span class="btn btn-success btn-sm text-white font-1_2">You're connected to internet
              </span>
            </div>                                                                
            <div class="view-animate-container row" >  
                <div class="view-animate" ng-view >
                </div>
            </div>
        </div>              



    </div>
</div>
  </div>
 <!--<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 24px;margin-top: 35px" ng-if="loading"></i>-->
 
</div>


                  </div>
                <footer class="footer bg-white text-muted">
                   
                </footer>
                <div class="modal fade" id="modal-media">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                                <h4 class="modal-title">Media Library</h4>
                            </div>
                            <div class="modal-body modal-tab-container">
                                <ul class="nav nav-tabs modal-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a> </li>
                                    <li class="nav-item"> <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a> </li>
                                </ul>
                                <div class="tab-content modal-tab-content">
                                    <div class="tab-pane fade" id="gallery" role="tabpanel">
                                        <div class="images-container">
                                            <div class="row"> </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                        <div class="upload-container">
                                            <div id="dropzone">
                                                <form action="/" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="demo-upload">
                                                    <div class="dz-message-block">
                                                        <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Insert Selected</button> </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="confirm-modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                                <h4 class="modal-title"><i class="fa fa-warning"></i> Alert</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure want to do this?</p>
                            </div>
                            <div class="modal-footer"> <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
        <!-- Reference block for JS -->
        
        
        
        
            

        <script type="text/ng-template" id="question.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h6 style="color: #000; font-size: 12px;text-align: center">{{message}}</h6> 
                    <div class="col-md-9 col-lg-9">
                    <h6 style="margin-top: 50px;text-align:center">What symptom are you experiencing?</h6>
                    </div>
                    <div class="col-md-3 col-lg-3">
                    
                    <img ng-src="{{docInfo.profile_pic_url}}" style="width:100px; height:100px"/>
                    </div>
                </div>
                </h6>               
              </div>
              <div class="modal-body">                                                   
                    <form class="tg-form-modal tg-form-signin">                        
                          <fieldset>
                              <caption>Describe in summary your illness</caption>
                              <div>
                                  <textarea style="height: 300px; color: black" placeholder="write.." ng-model="patient.message"></textarea>
                              </div>
                      <button class="tg-btn tg-btn-lg" ng-click="getAnswer('<%= userInfo.firstname %>','<%= userInfo.lastname %>','<%= userInfo.profile_pic_url %>',<%=userInfo.user_id %>)">Get answer</button>
                          </fieldset>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id="request.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h6 style="text-align: center; color: #000; font-size: 12px">{{message}}</h6>
              </div>
              <div class="modal-body">
              <h6 style="text-align: center">You want to send Consultation request 
                <span style="display:block;margin-top: 20px">To</span> 
                </h6> 
                                                                              
                    <form class="tg-form-modal tg-form-signin" style="text-align: center">                        
                            <fieldset>
                            <img ng-src="{{docInfo.profile_pic_url}}" style="width:150px; height:150px;margin-bottom: 20px;margin-top:-10px"/>
                            <h6>Dr. {{docInfo.firstname}} {{docInfo.lastname}}</h6>
                            <span style="display:block;margin-top: -10px; margin-bottom:20px">{{docInfo.specialty}}</span>
                            <p>Note: consultation fees will apply if your request is granted. </p>                                 
                        <button class="tg-btn tg-btn-lg" ng-click="sendRequest('<%= userInfo.firstname %>','<%= userInfo.lastname %>','<%= userInfo.profile_pic_url %>',<%=userInfo.user_id %>)">Continue</button>
                            </fieldset>
                        </form>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id="selected-center.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" >&times;</button>
              </div>          
             
              <div class="modal-body">
                    <div class="container">
<div class="card p-2">
<h4 class="font-1_7 mt-0">Forwarding Prescription</h4><hr>
<div class="row" ng-if="placeHolder">
    <h5 class="text-danger pl-2">{{message}}</h5>   
    <div class="col-sm-12 col-md-12">
        <h4 class="font-1_4 pb-1" style="border-bottom: 1px solid rgba(0,0,0,0.2)">{{centerInfo.name}} 
            <span style="display:block; font-size:.9em; font-weight:300;">{{centerInfo.type}}</span></h4>
        <div>
        <div class="col-md-2 col-sm-12 pull-right">
            <img  class="img-rounded" style="min-width:120px; min-height:120px;" src="{{centerInfo.profile_pic_url}}" alt="profile pic"/>
        </div>
        <div class="col-md-10 col-sm-12 pt-2">          
            <div><b class="font-1_1">Address: </b>{{centerInfo.address}}</div>
            <div><b class="font-1_1">City: </b>{{centerInfo.city}}</div>
            <address><b class="font-1_1">Country: </b>{{centerInfo.country}}</address>
        </div>
    </div> 
    <div class="row">
        <div class="card p-2">
        <div class="col-sm-12 col-md-12 pb-0">
            <p>Do you wish to contact <b class="font-1_4">{{centerInfo.name}}</b> for inquires before sending prescription? <span class="text-success btn btn-simple btn-sm" style="cursor:pointer;" ng-click="isEnquiry()"> &nbsp;Yes</span></p>
                <div ng-if="isContactFirst">
                <span class="font-1_4">Contact Through:</span>
                <i class="fa fa-phone font-1_4 text-success mr-1 btn btn-simple btn-sm" style="cursor:pointer;"> +234 {{centerInfo.phone}}</i>
                <!--<i class="fa fa-commenting-o font-1_4 text-success btn btn-simple btn-sm" style="cursor:pointer"></i>  -->             
            </div>      
        </div>  
        </div>      
    </div>
    <div class="col-sm-12 col-md-12 p-0">
        <div class=" pl-1 pr-1">
                <button class="btn btn-success btn-lg btn-block" style="cursor:pointer; box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2); text-align: center;" ng-click="sendReferral(centerInfo.user_id,centerInfo.type)">I have confirmed, send prescription</button>
        </div>
    </div>
</div>
<div ng-if="success" class="mt-2 p-2 col-md-8 col-sm-12 offset-md-2 offset-sm-0 text-center" style=" box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);">
        <h5 class="font-1_4">{{message.info}} 
        <span style="display:block; font-size:15px;">To</span>
        <span style="display:block;">{{centerInfo.name}}</span></h5>
        <address class="font-1_1">{{centerInfo.address}}, <span style="display:block">{{centerInfo.city}}, {{centerInfo.country}}<span></address>
        <p class="font-1_1"> Ref No: {{message.ref}}</p>
        <p><b>Make note of the <em style="font-weight: normal">Address</em> and <em style="font-weight: normal">reference number</em> above for easy location and identification respectively.</b></p>
</div>

</div>
</div>

              </div>
              
            </div>
          </div>
        </div>
    </script>


     <script type="text/ng-template" id="insuficient-fund.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <div class="row">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>                
              </div>
              <div class="modal-body">
                <h4>Sorry! we could not continue with your booking</h4>
                <h5 style="font-size: 18px; font-weight: 100">Reason:</5>
                <p style="font-size: 12px; color:#000">You do not have enough fund in your wallet to pay for the doctors consultation fee</p>
                <h5 style="font-size: 18px; font-weight: 100">Details:</5>
                <p style="font-size: 12px;color:#000">Your wallet available amount: <em style="font-size:18px">{{walletAmount | currency }}</em></p>
                <p style="font-size: 12px;color:#000">Consultation fee billed to pay: <em style="font-size:18px">{{consultationFee | currency}}</em></p>

                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Go ahead to fund wallet now</button>
              </div>
              <div class="modal-footer">               
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id="redirect-modal.html">
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header" style="border-bottom:1px solid #eee;">
              <div style="width: 80%;margin: 50px auto;text-align: center;font-size: 18px">
                <p><i class="fa fa-video-camera"></i> &nbsp;&nbsp;Redirecting to video call page... <strong>WAIT!</strong></p>
              </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id='selected-test-not-ran.html'>     


        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">           
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>              
              <div class="modal-body"> 
                 
                    Based on your selection, the test(s) below are not 
                    available in your center
                  
                  <ol class="m-0">
                    <li ng-repeat="test in selectedTest">{{test.name}}</li>
                  </ol>          
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="goBack()" class="btn btn-simple" data-dismiss="modal">No,go back</button>
                <button type="button" ng-click="save()" class="btn btn-success" data-dismiss="modal">Yes,save</button>              
              </div>
            </div>
          </div>
        </div>
     </script>


      <!--<script type="text/ng-template" id='selected-test-not-ran.html'>
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              </div>              
              <div class="modal-body"> 
                  <article> 
                    Based on your selection, the test(s) below are not 
                    available in your center
                  </article>
                  <ol>
                    <li ng-repeat="test in selectedTest">{{test.name}}</li>
                  </ol>          
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="goBack()" class="btn btn-primary" data-dismiss="modal">No,go back</button>
                <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Yes,save</button>              
              </div>
            </div>
          </div>
        </div>


        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">           
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>              
              <div class="modal-body"> 
                 
                    Based on your selection, the test(s) below are not 
                    available in your center
                  
                  <ol class="m-0">
                    <li ng-repeat="test in selectedTest">{{test.name}}</li>
                  </ol>          
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="goBack()" class="btn btn-simple" data-dismiss="modal">No,go back</button>
                <button type="button" ng-click="save()" class="btn btn-success" data-dismiss="modal">Yes,save</button>              
              </div>
            </div>
          </div>
        </div>
     </script>-->

     <script type="text/ng-template" id='unsent.html'>
        
         <div class="">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <div class="title"><strong>Alert!</strong></div>
                   <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>              
              <div class="modal-body"> 
                <p>
                
                 The test(s) below was unmarked which was regarded as <strong>Not</strong> ran service by your center.                   
                </p>
                <ol>
                    <li ng-repeat="test in unRanTest"><strong>{{test.name}}</strong></li>
                </ol>
                <p style="font-weight: bold;"> 
                The system will search to find centers that run the test(s).<br>
                Just click send from the list of search results<br>or simply use custom search to find your prefered center.
                </p>                
              </div>
              <div class="modal-footer">
                <button type="button"  class="btn btn-danger" data-dismiss="modal">close</button>       
              </div>
            </div>
          </div>
        </div>
     </script>

       <script type="text/ng-template" id='quick-chat.html'>
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="p-2">
            <div>
                <b class="font-1_3">Send Chat Message</b>
                <button type="button" class="close" ng-click="close('Yes')" data-dismiss="modal">&times;</button>      
            </div>
            <hr>
           
            <div class="modal-body">
               <header>
                   <b>{{center.name}}</b>
                   <span style="display: block;">{{center.address}} {{center.city}} {{center.country}}</span>
               </header>
              
                <div>
                    <textarea class="form-control p-1" ng-model="messageBody" style="height: 120px">
                    </textarea>
                </div>
                <div>
                    <button ng-click="sendChatSingle(center.id)" class="btn btn-danger" style="position: static;margin-left: 2px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> {{(isSent) ? "Message sent!" : 'Send'}}</button>
                </div>
               
            </div>
            
          </div>
        </div>
      </div>
   </script>

    <script type="text/ng-template" id="info.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">             
                <h4>Nice to have you onboard!</h4>
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>           
                       
            </div>
            <div class="modal-body">                
                <p style="font-size: 14px">Please to continue with your search again, go to <b>" <i class="fa fa-search"></i> searches "</b> on the top right and select from  the dropdown list  <b>" <span><i class="fa fa-search"></i> <span ng-if="holdType == 'Pharmacy'">Drugs</span><span ng-if="holdType == 'Laboratory'">Laboratory Test</span><span ng-if="holdType == 'Radiology'">Radiology Test</span></span> "</b> <br> Note, you can search for more <span ng-if="holdType == 'Pharmacy'">drugs</span> <span ng-if="holdType !== 'Pharmacy'">tests</span> at once with this advance search utilities.</p>
            </div>
            <div class="modal-footer">               
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Got it!</button>
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id="patient-emergency-form.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <h6 class="p-0 font-1-2">Add Patient</h6>
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" style="color:red;font-size: 32px;z-index: 3;position: absolute;top:20px;right: 20px">&times;</button>
              </div>          
             
              <div class="modal-body">

                    <!--<div class="p-0">
                        <div style="margin-top: 30px"> 
                            <button class="btn btn-primary" ng-click="existingP()" ng-class="{'active' : isExisting }">Existing Patient</button>
                            <button class="btn btn-primary" ng-click="newP()" ng-class="{'active' : isForm }">Create new Patient</button>
                        </div>
                        <p>Phone number patient is using for applinic.</p>
                        <form class="row"> 
                          <div class="col-md-8 col-lg-8">                             
                            <input type="number" class="form-control" placeholder="Enter number eg +2348096****73" ng-model="patient.existing_phone">
                          </div>
                          <div class="col-md-3 col-lg-3 pl-0">
                            <button type="submit" class="btn btn-success" ng-click="FindPatient()">Find</button>
                          </div>
                        </form>
                    </div>

                    <div> 
                       
                        <div class="row pt-1" ng-if="existingPatient" style="position: relative;">                              
                              <div class="col-md-3 col-sm-12 text-center">
                                <img src="{{existingPatient.profile_pic_url}}" style="max-width: 120px; max-height:120px">
                              </div>
                              <div class="col-md-9 col-sm-12">
                                  <strong>{{existingPatient.title}} {{existingPatient.firstname}} {{existingPatient.lastname}}</strong>
                                  <span style="display: block;">{{existingPatient.gender}}</span>
                                  <span style="display: block;">{{existingPatient.age}}</span>
                                  <button class="btn btn-primary btn-sm" ng-click="addToList('radiology')" style="position: absolute;bottom:0;right: 120px">Add</button>
                              </div>
                         </div>
                         <div class="clearfix"></div>                     
                          <div style="text-align: center;margin-top: 30px" ng-if="loading">
                              <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 20px" ng-if="loading"></i>
                          </div>
                          <p style='color:red;text-align:center' ng-if="!existingPatient">{{error}}</p>
                       
                    </div>-->
                    
                   <form ng-if="isForm">
                        <h6 style="color: red">{{error}}</h6>
                        <h5 class="font-1_4">Fill this form for the new Patient</h5>
                        <div  class="row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="Firstname *" ng-model="patient.firstname" required/>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Lastname *" ng-model="patient.lastname" required/>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Age</label>
                            <select class="form-control" ng-model="patient.age" required>
                              <option value="" disabled selected>_select age category</option>                                           
                              <option>0 - 28 days (newborn)</option>
                              <option>29 days - 1 year (infant)</option>
                              <option>1 - 5 years (younger child)</option>
                              <option>6 - 12 years (older child)</option>
                              <option>13 - 16 years (adolescent)</option>
                              <option>17 - 29 years (young adult)</option>
                              <option>30 - 39 years (adult)</option>
                              <option>40 - 49 years (adult)</option>
                              <option>50 - 64 years (adult)</option>
                              <option>65 years - over (senior)</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Gender</label>
                            <select class="form-control" ng-model="patient.gender" required>
                              <option disabled="disabled" value="" >_select</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                        </div>
                        <p style="color:red">{{showErr}}</p>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Phone Number: </label><small class="text-danger">{{formatError}}</small>
                            <input type="text" class="form-control" placeholder="Phone number * eg +2348035****77" ng-model="patient.phone" required/>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Email Address: </label>
                            <input type="email" class="form-control" placeholder="Email" ng-model="patient.email" required/>
                        </div>
                        
                        <div class="col-md-12 pl-1">
                            <input type="button"  value="Submit" class="btn btn-primary" ng-click="sendForm('radiology')"/>
                        </div>
                        </div>
                    </form>
                    <div ng-if="isCreated">
                        <h5 class="mb-0">Patient emergency profile created successfully!</h5>
                        <p>EM profile link sent to patient via SMS. </p>
                    </div>

              </div>
              
            </div>
          </div>
        </div>
    </script>
    
<script type="text/ng-template" id="search-result.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" style="color:red;font-size: 32px;z-index: 3">&times;</button>
              </div>          
             
              <div class="modal-body" style="padding: 10px">
              
<div ng-if="isContent" class="p-1">
    <p style="padding: 20px 10px;color:grey">    
    <strong>Forwarding:</strong>
        <span class="font-1_1 mb-0" style="font-style: italic;">{{data.str}}</span>
    </p>
    <hr>
    <div>
        <b>TO</b>
    </div>
    <div>
        <h5>{{data.name}}</h5>
        <span>{{data.address}}</span>
        <span>{{data.city}}</span>
        <span>{{data.country}}</span>
    </div>
    <!--<div style="margin-left: 20px;margin-top: -15px;border-bottom:1px solid rgba(0,0,0,0.2)"><div class="star-rating">
        <span  ng-cloak > 
        <div class="star-rating"  star-rating rating-value="data.rating.current" max="data.rating.max"></div>
        </span>
        </div>
    </div>-->
    <div>
        <!--<button class="btn btn-info" ng-class="{'dismiss': user.someone}" ng-click="send('inperson')" ng-if="checkLogIn.typeOfUser === 'Patient'">Forward on my behalf</button>-->
        <!--<button class="btn btn-info"  ng-click="someone()">Forward on behalf of someone else</button>-->
    </div>
    <section>
         <form ng-submit="send('someone')">
              <section ng-if="checkLogIn.typeOfUser !== 'Doctor'">
                  <div>
                      <label>Add Description and Quantity: </label>
                   </div>

                  <div class="row" ng-repeat="j in foundDrugArr">
                    <div>
                      <span>{{j.drug_name}}</span>
                      <a href="" ng-click="returnMain(j)" style="float: right;"> <i class="fa fa-refresh"></i></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-md-5">                    
                      <select ng-model="j.dosage" class="form-control"  ng-if="j.dosage !== 'dosage'">
                        <option value="" disabled="disabled" selected="selected">_select description</option>
                        <option>tablets</option>
                        <option>caplets</option>
                        <option>capsule</option>
                        <option>packet</option>
                        <option>bottle</option>
                        <option>sachet</option>
                        <option>dosage</option>
                      </select>
                      <input type="text" ng-model="j.other" placeholder="e.g 500mg"  class="form-control" ng-if="j.dosage === 'dosage'">
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <input type="number" ng-model="j.quantity" placeholder="quantity" class="form-control">
                      &nbsp;                    
                    </div>
                  </div>
              </section>
              <section ng-if="checkLogIn.typeOfUser === 'Doctor'">
                  <div>
                    <label>Complete Prescription: </label>
                  </div>
                 <!--<table class="table-respnsive table-striped no-mobile-item-display">       
                    <thead>
                        <th class="tbm-0">&nbsp;</th>
                        <th class="tbm-1"> Drug Name </th>
                        <th class="tbm-2"> Dosage </th>
                        <th class="tbm-3"> Frequency </th>
                        <th class="tbm-4"> Duration </th>
                    </thead>
                
                    <tbody ng-repeat="prescription in foundDrugArr">                                
                       
                        <td class="tbm-1"><input  type="text" placeholder="Enter drug name" ng-model="prescription.drug_name" uib-typeahead="drug.name for drug in drugs | filter:$viewValue | limitTo:15" class="form-control">
                        </td>
                        <td class="tbm-2"><input name="dose" type="text" ng-model="prescription.dosage" placeholder="Enter dosage" class="form-control"></td>
                       
                        <td class="tbm-1"><input  type="text" placeholder="Enter frequency" ng-model="prescription.frequency" uib-typeahead="f for f in frequencies | filter:$viewValue | limitTo:15" class="form-control">
                        </td>
                        
                        <td class="tbm-1"><input  type="text" placeholder="Enter duration" ng-model="prescription.duration" uib-typeahead="d for d in durations | filter:$viewValue | limitTo:15" class="form-control" style="">
                        </td>
                    </tbody>                             
                </table>-->
                <div>                            
                  <table class="table" ng-repeat="prescription in foundDrugArr">
                      <thead><th>sn: </th> <td>{{prescription.sn}}</td></thead>
                      <thead><th>Drug name: </th> <td><input  type="text" placeholder="Enter drug name" ng-model="prescription.drug_name" uib-typeahead="drug.name for drug in drugs | filter:$viewValue | limitTo:15" class="form-control"></td></thead>
                      <thead><th>Dosage: </th> <td><input type="text" name="dose" ng-model="prescription.dosage" placeholder="Enter dosage" class="form-control"></td></thead>
                      <thead><th>Frequency: </th> <td><input  type="text" placeholder="Enter frequency" ng-model="prescription.frequency" uib-typeahead="f for f in frequencies | filter:$viewValue | limitTo:15" class="form-control"></td></thead>
                      <thead><th>Duration: </th> <td><input  type="text" placeholder="Enter duration" ng-model="prescription.duration" uib-typeahead="d for d in durations | filter:$viewValue | limitTo:15" class="form-control" style=""></td></thead>
                      <hr class="bg-warning">
                  </table>
                </div>
              </section>
            
          
                <div>
                 
                 <label>Recipient's phone number *: <i class="fa fa-question-circle tip"><span>The phone number this recipient registered with on applinic</span></i><br>
                 <span class="text-danger">{{phoneMsg}}</span></label>
                 <input type="text" Placeholder="Enter receiver phone" ng-model="data.phone" class="form-control" required="required" style="cursor:normal">
                </div>
                <div ng-if="typeOfSearch === 'pharmacy'">
                  <label>Instructions / explanations for prescription(s): <span class="text-danger">{{provisionalMsg}}</span></label>
                  <textarea class="form-control pl-1" placeholder="Write..." ng-model="data.provisional_diagnosis" ng-keyup="autoExpand($event)" id="textarea"> </textarea>
                </div>
                <div ng-if='typeOfSearch === "diagnostic"'>
                  <label>Clinical Summary *: <span class="text-danger">{{summuryMsg}}</span></label>
                   <textarea class="form-control p-1" placeholder="Write..." ng-model="data.clinical_summary" required="required" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                 </div>
                 <div ng-if='typeOfSearch === "diagnostic"'>
                   <label>Indication *: <span class="text-danger">{{indictionMsg}}</span></label>
                   <textarea class="form-control p-1" placeholder="Write..." ng-model="data.indication" required="required" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                 </div>
                 <div ng-if='typeOfSearch === "diagnostic"'>
                   <label>LMP ( female ):</label>
                   <textarea class="form-control p-1" placeholder="Write..." ng-model="data.lmp" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                 </div>
                 <div ng-if='typeOfSearch === "diagnostic"'>
                   <label>Parity ( female ):</label>
                    <textarea class="form-control p-1" placeholder="Write..." ng-model="data.parity" ng-keyup="autoExpand($event)" id="textarea"></textarea>
                 </div>

                

                <div class="pb-3">
                    <input type="button" value="Cancel" ng-click="cancel()" class="btn btn-danger" ng-if="checkLogIn.typeOfUser === 'Patient'">
                    
                    <input type="submit"  class="btn btn-danger" value="Send" ng-if="!loading">
                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw text-warning" style="font-size: 18px" ng-if="loading"></i>
                    
                    <!--<input type="button" value="New Person Form" ng-click="emp()" class="btn btn-simple" ng-if="isEMP">-->
                </div>            
        </form>
    </section>
</div>
<div ng-if="isSent" class="p-1">
    <h5 class=" text-success"  style="text-align:center"> Sent successfully!!!</h5>
    <div class="m-0"><strong class="font-1-1"> Center name: </strong><em>{{data.name}}</em> </div> 
    <div class="m-0"><strong class="font-1-1"> Center location: </strong><em>{{data.address}}, {{data.city}}, {{data.country}}</em> </div> 
    <div class="mb-1"><span class="font-1-2" style="color:red"> Ref No:  </span><em>{{result}}</em> </div> 
    <div class="font-1-1">Please take note of the center name and 
        reference number above. You will use the reference number to find the investigations at the center.
    </div>
</div>
  
              </div>
              
            </div>
          </div>
        </div>
    </script>

    <script type="text/ng-template" id='view-center-profile.html'>
         
        <div  class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
             <div class="modal-header">           
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>              
              <div class="modal-body container-fluid" style="margin-top: 10px"> 
                 <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3 pull-right">
                        <img src="{{center.profile_pic_url}}" style="max-width: 120px; max-height: 120px">
                    </div>
                     <div class="col-sm-12 col-md-9 col-lg-9">
                      <div style="margin-left: 20px;border-bottom:1px solid rgba(0,0,0,0.2)"  class="star-rating">Center information</div>
                        <ul style="line-height: 35px;list-style: none;">
                            <li><strong>Center name : </strong> {{center.name}}</li>
                            <li><strong>Address : </strong> {{center.address}}</li>
                            <li><strong>City : </strong> {{center.city}}</li>
                            <li><strong>country : </strong> {{center.country}}</li>
                           <li><strong>Office hours : </strong> 
                                <ul>
                                     <li ng-repeat="office in center.office_hour"  style="list-style-type: none;font-size: 16px"> 
                                    <strong>{{office.day}}</strong> &nbsp;<span>{{office.from | date: "shortTime"}} - {{office.to | date: "shortTime"}}</span>
                                    </li>
                                </ul>
                            </li>
                            <li><strong>Office line : </strong> +234 {{center.phone}}</li>

                        </ul>

                        <div style="margin-left: 20px;margin-top: 10px"><div class="star-rating">
                            <span  ng-cloak > <span>Rating  </span>
                            <div class="star-rating"  star-rating rating-value="center.rating.current" max="center.rating.max"></div>
                            </span>
                            </div>
                        </div>
                    </div>
                 </div>
              </div>              
            </div>
          </div>
        </div>
     </script>


      <script type="text/ng-template" id='report-history-modal.html'>
         
        <div  class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
             <div class="modal-header">
                <div style="display: inline-block;font-size: 14px">
                  <img src="{{(person.laboratory)? person.laboratory.patient_profile_pic_url: person.radiology.patient_profile_pic_url}}" style="float: left; max-height: 120px;max-width: 120px;">
                  <div style="display: inline-block;padding-left: 10px">
                    <strong style="font-weight: bold;">{{(person.laboratory)? person.laboratory.patient_firstname : person.radiology.patient_firstname}} 
                    {{(person.laboratory)? person.laboratory.patient_lastname : person.radiology.patient_lastname}}</strong>
                    <span style="display: block;">Reference number: {{person.ref_id}}</span>
                    <span style="display: block;">{{(person.laboratory)? person.laboratory.patient_phone : person.radiology.patient_phone }}</span>
                      <span style="display: block;">{{person.date | date: 'mediumDate' }}</span>
                  </div>
                </div>           
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>              
              <div class="modal-body"> 
              <hr>
                <div class="p-1">
                  <label>Clinical Summary: </label>
                  <p style="text-indent: 15px;display: inline-block;">{{(person.laboratory) ? person.laboratory.clinical_summary : person.radiology.clinical_summary}}</p>
                </div>
                <div class="p-1">
                  <label>Indications: </label>
                  <p style="text-indent: 15px;display: inline-block;">{{(person.laboratory) ? person.laboratory.indication : person.radiology.indication}}</p>
                </div>
                <div class="p-1" ng-if="person.laboratory.parity || person.radiology.parity">
                  <label>Parity: </label>
                  <p style="text-indent: 15px;display: inline-block;">{{(person.laboratory) ? person.laboratory.parity : person.radiology.parity}}</p>
                </div>
                <div class="p-1"  ng-if="person.laboratory.lmp || person.radiology.lmp">
                  <label>LMP: </label>
                  <p style="text-indent: 15px;display: inline-block;">{{(person.laboratory) ? person.laboratory.lmp : person.radiology.lmp}}</p>
                </div>
                <div class="p-1">
                  <label>Test Ran: </label>
                    <ol>
                      <li ng-if="person.laboratory" ng-repeat="test in person.laboratory.test_ran">
                        <span>{{test.name}}</span>
                      </li>
                       <li ng-if="person.radiology" ng-repeat="test in person.radiology.test_ran">
                        <span>{{test.name}}</span>
                      </li>
                    </ol>
                </div>
                <div class="p-1">
                  <label>Test Reports: {{(person.laboratory) ? getReport(person.laboratory.report) : getReport(person.radiology.report)}}</label>
                  <div ng-repeat="rep in reportList">
                    <label class="text-primary">{{rep.investigation}}</label>
                    <p style="text-indent: 15px">{{rep.report}}</p>
                  </div>
                </div>
                <div class="p-1">
                  <label class="text-primary">Conclusion:</label>
                  <p style="text-indent: 15px">{{(person.laboratory) ? person.laboratory.conclusion : person.radiology.conclusion}}</p>
                </div>
                <div class="p-1">
                  <label>Test Report date: {{person.service_date | date: 'mediumDate'}} 
                  ( <span am-time-ago="person.service_date"></span> )</label>                 
                </div>
                <!--<div style="text-align: right;" class="p-1">
                  <button class="btn btn-primary" ng-click="editReport(person)" class="close" data-dismiss="modal"><i class="fa fa-pencil"></i> edit report</button>
                </div>-->
              </div>              
            </div>
          </div>
        </div>
     </script>

     <script type="text/ng-template" id="skill-modal.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <div class="row">
              <button type="button" class="close" ng-click="close('Yes')" data-dismiss="modal">&times;</button>
               <img ng-src="{{docInfo.profile_pic_url}}" style="max-width:10%; height:auto;float: left;"/>
               <span style="display:inline-block;font-size: 14px;padding-left: 10px"><b>{{docInfo.title}} {{docInfo.firstname}} {{docInfo.lastname}}</b>  <span style="display: block;font-size: 0.7em">{{docInfo.specialty}}</span>
               <span style="font-size: 0.7em">{{docInfo.work_place}} {{docInfo.address}} {{docInfo.city}}</span>
               </span> 
                          
            </div>
            <div class="modal-body" style="max-height: 800px;overflow-y: auto;">  
              <h5 style="text-align:center;text-decoration: underline;">{{docInfo.skill.skill}}</h5>
              <section>
                <p style="font-size: 14px">{{docInfo.skill.procedure_description}}</p>
                <div ng-repeat = "file in docInfo.skill.files">
                  <div style="text-decoration: underline;" ng-if="file.type === 'video/mp4'">
                     <div>Video</div>
                     <video  style="max-width: 100%;height:auto" controls
                        poster="https://archive.org/download/WebmVp8Vorbis/webmvp8.gif"  class="img-responsive">  
                        <source
                          ng-src="{{file.path}}"
                          type="video/mp4">                                              
                        Your browser doesn't support HTML5 video tag.
                      </video>
                  </div>
                  <div style="text-decoration: underline;" ng-if="file.type === 'image/jpg' || file.type === 'image/jpeg' || file.type === 'image/png'">
                    <div>Image</div>
                    <img src="{{file.path}}" class="img-responsive" alt="Sample image" style="height:auto;max-width:100%">
                  </div>
                </div>                
              </section>                                                 
                 
            </div>
            <div class="modal-footer">
              <!--<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>-->
            </div>
          </div>
        </div>
      </div>
   </script>

   <script type="text/ng-template" id="doctor-refer-to-me.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <div class="row">
              <button type="button" class="close" ng-click="close('Yes')" data-dismiss="modal">&times;</button>
               <img ng-src="{{docInfo.profile_pic_url}}" style="max-width:3em; max-height:3em"/>
               <span style="display:inline-block;padding: 10px">{{docInfo.title}} {{docInfo.firstname}} {{docInfo.lastname}}  <span style="display: block;font-size: 0.7em">{{docInfo.specialty}}</span></span> 
                          
            </div>
            <div class="modal-body shadow" style="padding: 20px;margin-bottom: 20px">
                <div ng-if="result">
                    <p style="color:green;text-align: center;">{{result}}</p>
                </div>  
                <h5 ng-cloak><i class="fa fa-hand-o-right" aria-hidden="true"></i> Refer patient to {{doc.title}} {{doc.firstname}} {{doc.lastname}}</h5>
                <form class="form-group">
                    <div>
                        <label>What is your complain?</label>
                        <textarea class="form-control" ng-model="patient.history" style="height:  100px" required></textarea>
                    </div>

                    <div class="space" ng-if="checkLogIn.typeOfUser !== 'Patient'">
                        <label>Patient phone number</label>
                        <small style="display: block;"><strong>Tip: </strong><span>Phone number is the number patient used to register on Applinic.com</span></small>
                        <input type="number" name="number" class="form-control" ng-model="patient.phone" required>
                    </div>
                  
                    <div class="space">
                        <button ng-click="send()" class="btn btn-success" style="position: static">Refer patient</button>
                        <button ng-if="checkLogIn.typeOfUser === 'Patient'" class="btn btn-success" ng-click="send()" style="position: static">Refer yourself</button>
                    </div>
                </form>
                
             
            </div>
            
          </div>
        </div>
      </div>
   </script>

   <script type="text/ng-template" id="session-timeout.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
          
            <div  style="padding: 20px;margin-bottom: 20px;text-align: center;">  
                <div>
                    <strong style="font-weight: 100;font-size: 22px">Hey! Are you still there?</strong>
                </div>            
                
                <p style="font-size: 14px;padding-top: 30px" class="text-muted">You have been idle for a while you will be timed out at count down 0</p>
                <div style="padding:20px">
                    <a href="" class="btn btn-simple round">{{countDown}}</a>
                </div>

                <div>
                    <a href="" class="btn btn-danger" ng-click="keepalive()" data-dismiss="modal">No, keep alive</a>
                </div>
            </div>
            
          </div>
        </div>
      </div>
   </script>
    <script type="text/ng-template" id="image-modal.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">             
                <h4>Image</h4>
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>           
                       
            </div>
            <div class="modal-body">                
              <img src="{{imgUrl}}" style="width: auto; height: auto;" alt="image">
            </div>
           
          </div>
        </div>
     </script>
     
   <script type="text/ng-template" id="stock-modal.html">
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">            
                <h5>Stock Update</h5>
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>          
            </div>
            <div class="modal-body">                
              <p>Please take a moment to go through the newly added item(s).<br>
               <b>Tick</b> anyone <b>available</b> in your center.</p>
               <hr>
               <form>
                 <div ng-repeat="j in dynaServices" ng-if="j.date_created >= checkLogIn.stock_update.last_updated">
                    <label class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" ng-model= "j.picked" >
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{j.name}}</span>
                    </label>                   
                 </div>
              </form>
              <div style="text-align: right;">
                <p>{{msg}}</p>
                <button class="btn btn-success" ng-click="updateStock()"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> {{(loading) ? "" : "Done, save"}}</button> &nbsp; 
                <button class="btn btn-neutral" ng-click="notNow(modal)" data-dismiss="modal">No, later</button>
              </div>
            </div>
          </div>
        </div>
     </script>



        


      <script src="/assets/js/app.js"></script>
        <script src="/assets/js/now-ui-kit.js"></script>


       
        
        <script type="text/javascript" src="/assets/js/angularclient.js"></script>
        <script type="text/javascript" src="/assets/js/ngroute.js"></script>
        <script src="/socket.io/socket.io.js"></script>   
        <script src="/assets/js/socket.min.js"></script>
        <script src="/assets/js/jquery-ui.js"></script>

       
       
      
      
        
        
        <!--<script src="/assets/js/main.js"></script>-->
        <script src="/assets/js/angular-touch.min.js"></script>
        <script src="/assets/js/angularAnimate.js"></script>

       <script src="/assets/js/modalService.js"></script>
        <script src="/assets/js/moment.min.js"></script>     
        <script src="/assets/js/angular-moment.min.js"></script>
        <script src="/assets/js/angucomplete-alt.min.js"></script> 

        <script src="/assets/js/ui-bootstrap-tpls.js"></script>
        <script src="/assets/js/angular-clipboard.js"></script>
        <script src="/assets/js/ngresource.js"></script>
         <script src="/assets/js/ngPrint.js"></script>
         <script type="text/javascript" src="/assets/js/angular-paystack/dist/angular-paystack.js"></script>
          <script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
          <script src="/assets/js/bower_components/angular-summernote/dist/angular-summernote.js"></script>
          <script type="text/javascript" src="/assets/js/underscore-min.js"></script>
<script type="text/javascript" src="/assets/js/angular-underscore.js"></script>
           <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 10352687;
    (function() {
      var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
    </script>
    <noscript>
    <a href="https://www.livechatinc.com/chat-with/10352687/">Chat with us</a>,
    powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener" target="_blank">LiveChat</a>
    </noscript>
    <!-- End of LiveChat code -->
       
    </body>

</html>