
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang=""> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Applinic - Report Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
     <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<!--<link rel="stylesheet" href="/assets/css/vendor.css"> -->        
         
	<script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
     <script src="/assets/js/vendor2.js"></script>
        <script type="text/javascript" src="/assets/js/source.js"></script>

	<style type="text/css">
		body {
			background-color: #999999; 
		}

		#main {
			width: 68%;
			margin: 20px auto;
			background: #fff;
			padding: 20px;
			border: 2px solid grey;
		}

    h6 {
        font-size: 18px
    }

    .btn {
        padding: 10px 15px;
        color: #fff;
        border-radius: 5px;
        background-color: darkRed;
        border: none;
    }

    
  .modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.in {
  opacity: 0.5;
}

.modal-header {
  padding: 15px;
  /*border-bottom: 1px solid #e5e5e5;*/
}

.modal-header::after {
  content: "";
  display: table;
  clear: both;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer::after {
  content: "";
  display: table;
  clear: both;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.studie {
  padding: 10px 0 0;
  text-transform: capitalize!important;
}

.studie a {
  text-decoration: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 900px;
  }
}


	</style>
</head>
<body ng-app = "myApp" class="ng-cloak">
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div>
	   <div id="main" ng-controller="templatectrl" style="position: relative;">
           
	   	   <div id="tempfield" ng-hide="isReportPDF" >               
              <%- template.template %>
	   	   </div>
         <button style="position: absolute;top:10px; right: 20px" ng-click="otherStudies()" >Other studies</button>
           <!--<div ng-show="isReportPDF">
               <form ng-cloak ng-submit="emailReport()" style="text-align: center;margin-top: 20px">
                   <label><b>Send the report PDF to an email below:</b> </label><br><br>
                   <input type="email" name="" ng-model="recepient.email" placeholder="Recepient email address" style="padding: 10px;width: 60%" required><br><br>
                   
                    <input type="submit" name="" value="Send report" ng-show="!loading" class="btn btn-danger" ng-show="!loading"> <span ng-show="loading">Sending...</span>
               </form><br>
               <div style="margin: 10px 0;text-align: right;">
                   <a href="" ng-click="backToReport()">Back to report template</a>&nbsp;&nbsp;&nbsp; <a href="{{'https://drive.google.com/viewerng/viewer?embedded=true&url=https://applinic.com' + pdfLink}}" target="_blank">View/Print report PDF</a>
               </div>
           </div>-->
           
	   	   <hr><br>
          
	   	   <div style="text-align: right;" ng-hide="isReportPDF">
	   	   	 <button class="btn btn-danger" id="submit" ng-click="getTempData()">Save</button>
	   	   </div>
            {{getdata('<%= study.patient_name %>','<%= study.patient_id %>','<%= study.study_date %>','<%= study.patient_age %>','<%= study.patient_sex %>','<%= study.referring_physician %>','<%= study.study_name %>','<%= study.study_date %>','<%= reporter.name %>','<%= reporter.designation %>','<%= reporter.email %>','<%= study.study_link2 %>', '<%= study.summary %>', '<%= study.findings %>', '<%= study.conclusion %>', '<%= study.advise %>','<%= study.center_name %>','<%= study.center_address %>','<%= study.center_city %>','<%= study.center_country %>','<%= study.center_phone %>','<%= study.center_email %>','<%= study.center_profile_pic_url %>','<%= study._id %>','<%= study.center_id %>','<%= template.center_id %>')}}
	   </div>
       <!--

            <table style="display: table;border-spacing: 2px;border-collapse: collapse">
                    <tr>                                        
                        <th style="text-align: left;width: 10%">
                           <img src="https://www.nfh.org.ng/image/nfh.jpg" style="max-width: 120px;height: auto;" id='img'>
                        </th>
                        <th style="padding-left: 12px;text-align: left;width: 50%">
                            <h2 id="center_name" style="font-size: 28px;margin:5px 0">Niger Foundation Hospital</h2>
                            <h4 style="margin: 5px 0;font-size: 24px">and Diagnostic Centre</h4>
                            <address style="font-weight: normal;">
                              <span id="center_address">5 Presidential Close, Independence Layout</span><br>
                              <span>P.O Box 4206, Enugu, Nigeria</span><br>
                              <span id="center_phone">Tel: 07065693009 &nbsp;&nbsp;email: info@nfh.org.ng</span>                 
                            </address>
                        </th>                                   
                        <th style="vertical-align: bottom;text-align: left;width: 40%">
                            <h4 style="text-indent:70px;font-size: 20px;margin: 5px 0"><b>RADIOLOGY REPORT</b></h4>
                        </th>
                    </tr>                               
               </table>
              
                <div style="padding-top: 20px;">
                  <section style="border: 1px solid #000;">
                    <b style="display: inline-block;border-right: 1px solid #000;padding: 10px;width: 98px">Name:</b>
                    <span style="display: inline-block;width: 405px;font-size: 14px" contenteditable="true" id="name">{{patient.names}}</span>
                    <b style="display: inline-block;border-left: 1px solid #000; border-right: 1px solid #000; padding: 10px;width: 79px">Folder No:</b>
                    <span style="display: inline-block;font-size: 14px" contenteditable="true" id="studyId">{{patient.patientId}}</span>
                 
                  </section>
               </div>
               <div>
                    <section style="border: 1px solid #000;border-top: none;">
                        <b style="display: inline-block;border-right: 1px solid #000;padding: 10px;width: 98px">Age:</b>
                        <span style="display: inline-block;width: 120px;font-size: 14px" contenteditable="true" id="age">{{patient.age}}</span>
                        <b style="display: inline-block;border-left: 1px solid #000; border-right: 1px solid #000; padding: 10px">Sex:</b>
                        <span style="display: inline-block;width: 105px;font-size: 14px" contenteditable="true" id="gender">{{patient.sex}}</span>
                        <b style="display: inline-block;border-left: 1px solid #000; border-right: 1px solid #000; padding: 10px;width: 64px">Doctor:</b>
                        <span style="display: inline-block;font-size: 14px" contenteditable="true" id="referrer">{{patient.doctor}}</span>
                    </section>
               </div>
               <div>
                 <section style="border: 1px solid #000;border-top: none;">
                    <b style="display: inline-block;border-right: 1px solid #000;padding: 10px;width: 98px">Examination:</b>
                    <span style="display: inline-block;font-size: 14px;width: 405px;" contenteditable="true" id="investigation">{{patient.studyName}}</span>
                    <b style="display: inline-block;border-left: 1px solid #000; border-right: 1px solid #000; padding: 10px">Date:</b>
                    <span style="display: inline-block;font-size: 14px" contenteditable="true" id="date">{{patient.studyDate | date: 'mediumDate'}}</span>
                 </section>
               </div>
               <div style="margin-top: 15px;">
                 <h6 style="font-size: 18px;margin: 10px 0"><b>Clinical Summary</b></h6>
                 <div style="border: 1px solid #000; min-height: 70px;padding: 10px 20px;line-height: 20px" contenteditable="true" id="summary" ng-bind="patient.summary">                  
                 </div>
               </div>
               <div style="margin-top: 15px;">
                 <h6 style="font-size: 18px;margin: 10px 0"><b>Findings</b></h6>
                 <div style="border: 1px solid #000; min-height: 70px;padding: 10px 20px;line-height: 20px" contenteditable="true" id="findings" ng-bind="patient.findings">                
                 </div>
               </div>
               <div style="margin-top: 15px;">
                 <h6 style="font-size: 18px;margin: 10px 0"><b>Conclusion</b></h6>
                 <div style="border: 1px solid #000; min-height: 70px;padding: 10px 20px;line-height: 20px" contenteditable="true" id="conclusion" ng-bind="patient.conclusion">                
                 </div>
               </div>
               <div style="margin-top: 15px;">
                 <h6 style="font-size: 18px;margin: 10px 0"><b>Further Advice/Investigation</b></h6>
                 <div style="border: 1px solid #000; min-height: 70px;padding: 10px 20px;line-height: 20px" contenteditable="true" id="advise" ng-bind="patient.advise">                
                 </div>
               </div>

               <table style="margin-top:10px;border-collapse: collapse">
                 <tr>
                    <td>
                        <h6 style="font-size: 18px;margin: 10px 0">Report By:</h6>

                        <b id="reporter_name">{{patient.reporter}}</b><br>
                        <span id="reporter_type">{{patient.reporterDesignation}}</span><br>
                        <span id="reporter_email">{{patient.reporterEmail}}</span>
                    </td>
                    
                 </tr>
               </table>
               <br>
               <table>
                   <tr>
                       <td style="width: 750px;">
                           <h6 style="font-size: 18px;margin: 10px 0">Study's DICOM viewer link:</h6>
                           <a href="{{patient.studyLink}}" target="_blank">{{patient.studyLink}}</a>
                       </td>
                       <td style="vertical-align: bottom;text-align: right;">
                            <img src="https://applinic.com/assets/images/img/applinic.png" style="width: 120px;height: auto;">
                        </td>
                   </tr>
               </table>

       -->

     

	</div>
    <script type="text/ng-template" id="tempaltedecisionmodal.html">
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true" style="float: right;cursor: pointer;">&times;</button>              
                <h2 style="clear: both;">Where to submit to?</h2>
               
                       
            </div>
            <div class="modal-body" style="margin-top: 0;padding-top: 0">               
               <!--<a href="" ng-click="toEdit()" style="padding: 10px; color: #fff; background-color: green;border: none;text-decoration: none;border-radius: 5px"></a> &nbsp;&nbsp;&nbsp;&nbsp;
               <a href="" ng-click="toCenter()" style="padding: 10px; color: #fff; background-color: green;border: 
               none;text-decoration: none;border-radius: 5px"></a>-->
               <div>
                   <input type="radio" name="" ng-model="recepient.toEmail" value="center"><b style="color: blue;font-size: 18px">Submit straight to Hospital/Centre</b> &nbsp;&nbsp;&nbsp;&nbsp;
                   <input type="radio" name="" ng-model="recepient.toEmail" value="expert"><b style="color: blue;font-size: 18px">Submit for Review/Edit</b>
               </div>
               <div ng-if="recepient.toEmail == 'center'">
                   <h3>Submit to your Center</h3>
                   <form ng-submit="toCenter()" ng-hide="reportPDF">
                       <label><b>Email of recepient:</b></label><br><br>
                       <input type="email" name="" style="padding:10px; width: 80%" placeholder="Email" ng-model="recepient.email"><br><br>
                       <input type="submit" name="" value="Send" ng-show="!loading" class="btn btn-danger">
                       <span ng-show="loading">Sending report...</span>
                   </form>
                   <div ng-show="reportPDF">
                       <p style="color: green; font-size: 18px"><i class="fa fa-check-circle"></i> {{msg}}</p>
                       <a href="{{'https://drive.google.com/viewerng/viewer?embedded=true&url=https://applinic.com' + reportPDF}}" target="_blank" style="text-decoration: none;"><i class="fa fa-file-pdf-o" style="font-size: 22px;color: orange;"></i> View/Print report PDF</a>
                   </div>
               </div>
               <div ng-if="recepient.toEmail == 'expert'">
                    <h3>Submit to an expert for Review/Edit</h3>
                    <form ng-submit="toExpert()">
                       <label><b>Choose a Radiologist:</b></label><br><br>
                       <select style="width: 80%;padding: 10px" ng-model='recepient.radiologistId'>
                           <option value="" disabled="disabled" selected="true">_Select</option>
                           <option value="{{j.id}}" ng-repeat="j in reporters">{{j.name}} - {{j.designation}}</option>
                       </select><br><br>
                       <!--<label><b>Email of recepient:</b></label><br><br>
                       <input type="email" name="" style="padding:10px; width: 80%" placeholder="Email" ng-model="submit.email">
                       <br><br>-->
                       <input type="submit" name="" value="Send" ng-show="!loading" class="btn btn-danger">
                       <span ng-show="loading">Sending report...</span>
                    </form>
               </div>
            </div>
          </div>
        </div>
    </script>
    <script type="text/ng-template" id="otherStudiesModal.html">
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true" style="float: right;cursor: pointer;">&times;</button>              
                <h2 style="clear: both;">Other Studies</h2>
                <div>
                  <input type="radio" name="" ng-model="std.description" value="unattended"><label>Unattended</label>&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="" ng-model="std.description" value="all"><label>All</label>
                  <span style="float: right;">( {{studies.length}} )</span>
                </div>
                <div style="clear: both;"></div>
                  
            </div>
            <div class="modal-body" style="margin-top: 0;padding-top: 0">   
                   
                <input type="text" name="" placeholder="filter result" ng-model="filter" style="padding: 5px;">
                <div ng-repeat="j in studies | orderBy: '-study_date' | filter: filter" class="studie">
                  <a href="{{'https://applinic.com/report-template/' + j.assigned_radiologist_id + '/' + j._id}}" ng-if="j._id !== currStudy">
                    <b>{{j.patient_name}}</b>&nbsp;
                    ( <span>{{j.patient_sex}}</span> )&nbsp;&nbsp;
                    <span>{{j.study_name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>{{j.study_date | date : 'mediumDate'}}</span> | 
                    <span>{{j.study_date | date : 'shortTime'}}</span>
                  </a>
                </div>
                     
              <div style="text-align: center;padding:20px 0" ng-hide="!loading">
                 <span>Loading...</span>
              </div>
            </div>
          </div>
        </div>
    </script>


	<script src="/assets/js/vendor/jquery-library.js"></script>

	<script type="text/javascript">
		/*$(document).ready(function() {
          //$("#name")[0].innerHTML = '<%= study.patient_name %>'; 
          var a = $('#studyId');
          console.log(a);
           
          $("#submit").click(function() {
          	var hml = $('#tempfield').html();  
            //console.log(hml)        
          });
        });*/
	</script>

   

	<script src="/assets/js/app.js"></script>
        
        
    <script type="text/javascript" src="/assets/js/angularclient.js"></script>
    <script type="text/javascript" src="/assets/js/ngroute.js"></script>
    <script src="/socket.io/socket.io.js"></script>   
    <script src="/assets/js/socket.min.js"></script>
        
       
        
    <script src="/assets/js/angularAnimate.js"></script>
    <script src="/assets/js/modalService.js"></script>
    <script src="/assets/js/angular-touch.min.js"></script>
    <!--<script src="/assets/js/angular-carousel.js"></script>-->
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/angular-moment.min.js"></script>
    <script src="/assets/js/ui-bootstrap-tpls.js"></script>
    <script src="/assets/js/angular-clipboard.js"></script>
    <script src="/assets/js/ngresource.js"></script>
    <script src="/assets/js/ngPrint.js"></script>
    <script type="text/javascript" src="/assets/js/angular-paystack/dist/angular-paystack.js"></script>
    <script type="text/javascript" src="/assets/js/angular-sanitize.min.js"></script>
    <script src="/assets/js/bower_components/angular-summernote/dist/angular-summernote.js"></script>
    <script type="text/javascript" src="/assets/js/underscore-min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-underscore.js"></script>
  

    
</body>
</html>